---
import { Config } from '~/config';

type Props = {
	title: string[];
	description: string;
};

const { title, description } = Astro.props;
---

<head>
	<meta charset="UTF-8" />
	<meta name="description" content={description} />
	<meta name="viewport" content="width=device-width" />
	<link
		rel="icon"
		type={Config.site.icon.type}
		href={Config.site.icon.href}
	/>
	<meta name="generator" content={Astro.generator} />
	<title>{title.join(Config.site.titleSeparator)}</title>
</head>
